@use "design/baseline";
@use "design/colors";
@use "design/scrollbar";
@use "../../../shared/styles/colors-staged";

:root {
    --vo-standard-color-red: #{colors-staged.$color-red};
    --vo-standard-color-green: #{colors-staged.$color-green};
    --vo-standard-color-light-green: #{colors-staged.$color-light-green};
    --vo-standard-color-blue: #{colors-staged.$color-blue};
    --vo-standard-color-orange: #{colors-staged.$color-orange};
}

html, body {
    height: 100%;
}

app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.validation-message {
    color: colors.$error;
    font-size: smaller;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 9.6px 20px 11.2px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 8px;
}

@include scrollbar.adjust-styles($prefix: null);
