@use "design/colors";
@use "../../../shared/styles/colors-staged";

:root {
    --vo-standard-color-red: #{colors-staged.$color-red};
    --vo-standard-color-green: #{colors-staged.$color-green};
    --vo-standard-color-light-green: #{colors-staged.$color-light-green};
    --vo-standard-color-blue: #{colors-staged.$color-blue};
    --vo-standard-color-orange: #{colors-staged.$color-orange};
}

html,
body {
    background-color: colors.$background-darker;
    color: colors.$font;
    height: 100%;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}

app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

button {
    background-color: transparent;
    border: none;
    color: colors.$font;
}

a {
    color: colors.$accent
}

a:hover {
    color: colors.$accent-hover
}

::selection {
    background-color: colors.$accent;
    color: colors.$background-darker;
}

.text-font {
    color: colors.$font
}

.text-accent {
    color: colors.$accent
}

.validation-message {
    color: colors.$error;
    font-size: smaller;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 9.6px 20px 11.2px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 8px;
}

@keyframes blink {
    0% {
        opacity: 1
    }

    25% {
        opacity: .5
    }

    50% {
        opacity: .1
    }

    75% {
        opacity: .5
    }

    100% {
        opacity: 1
    }
}

@keyframes progressbar-slide {
    0% {
        transform: translateX(-200px)
    }

    70% {
        transform: translateX(500px)
    }

    100% {
        transform: translateX(500px)
    }
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px colors-staged.$color-content-dark-hover
}

::-webkit-scrollbar-thumb {
    background: colors-staged.$color-content
}

::-webkit-scrollbar-thumb:hover {
    background: colors-staged.$color-content-hover
}

::-webkit-scrollbar-corner {
    display: none
}

.btn {
    color: colors.$font
}

.btn:disabled:hover {
    color: inherit
}

.btn-success {
    background-color: colors.$accent;
    border-color: colors-staged.$color-accent-dark;
    color: colors.$font;
}

.btn-success:hover {
    background-color: colors.$accent-hover;
    border-color: colors-staged.$color-accent-dark;
    color: colors.$font;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
    background-color: colors-staged.$color-accent-dark;
    border-color: colors.$accent;
}

.card {
    background-color: colors.$background-darker;
    border: none;
    border-radius: 0;
}

.page-link {
    background-color: colors-staged.$color-background-modal;
    border: unset;
    color: colors.$accent;
}

.page-link:hover {
    background-color: colors-staged.$color-content-dark-hover;
    color: colors.$accent;
}

.page-item.active .page-link {
    background-color: colors.$accent;
    color: colors.$font;
}

.page-item.active .page-link:hover {
    background-color: colors.$accent-hover
}

.page-item.disabled .page-link {
    background-color: colors-staged.$color-content-dark-disabled;
    color: colors-staged.$color-font-disabled;
}

a.bg-primary:focus {
    background-color: rgba(255, 255, 255, .12) !important
}

.not-authorized-container {
    padding-top: 20%;
    text-align: center;
    width: 100%
}

.not-authorized-container > h1 {
    color: colors.$accent
}

/** should be moved to Blazor.Dx library **/
.suite-footer-btn {
    margin: 5px;
    width: 100px;
}
