@use "design/colors";

.dxbl-tabs {
    > ul.nav.nav-tabs {
        border: none;
        padding: 0 8px;

        .nav-link {
            color: colors.$accent;

            &.active {
                background-color: colors.$accent;
                border: none;
                color: colors.$font;
            }
        }
    }
}

.dxbl-btn.dxbl-toolbar-btn:not(.dxbl-disabled) {
    border: 1px solid colors.$border;
}

.dxbl-modal[height] { // *1
    .dxbl-modal-root {
        .dxbl-popup {
            .dxbl-modal-content {
                .dxbl-modal-body {
                    // ensures that content does not overflow the height of the dialog
                    overflow: auto;

                    // ensure that content vertically exceeding the body area does not change the configured height of the dialog,
                    // works only for dialogs where height attribute is set,
                    // added height selector to avoid breaking the height of dialogs having no height attribute, see *1
                    flex-basis: 0;
                }
            }
        }
    }
}
