@use "../../Styles/design/colors";
@use "../../../../shared/styles/colors-staged";
@use "../../Popup/Styles/content-overlay";
@use 'sass:color';

.control-panel-container {
    color: colors.$font-light;
    height: 100%;

    .spacer {
        height: 40px;
    }

    &.loading {
        @include content-overlay.blur-effect();
    }
}

@mixin span-loading-indication-container()
{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.content-loading-indication-container {
     background: color.adjust(colors-staged.$color-content, $alpha: -0.3);

     @include span-loading-indication-container();

    ::deep .content-loading-indication {
        display: block;
        height: 100%;
    }
}
