@use "../../Styles/design/colors";
@use "../../Styles/design/popup";
@use "../../Styles/design/typography";

@use 'sass:color';

.settings-container {
    height: 100%;

    ::deep .master {
        @mixin background-color-transition() {
            transition: background-color .2s linear;
        }

        .search-box {
            width: 100%;
        }

        .accordion {

            // General styles
            &:not(:last-child) {
                margin-bottom: 40px;
            }

            // Menu item 1st level
            .accordion-item {

                &.active {
                    .header {
                        font-weight: typography.$font-weight-regular;
                    }
                }

                // Menu item 2nd level
                .content {
                    display: flex;
                    flex-flow: column nowrap;

                    .menu-entry {
                        // General resets
                        box-sizing: border-box;
                        padding: 0;
                        margin: 0;
                        border: 0;
                        color: unset;
                        background-color: unset;
                        font-family: unset;
                        font-weight: unset;
                        line-height: unset;

                        @include background-color-transition();

                        min-height: 28px;

                        display: grid;
                        grid-template-areas: "guideline spacer text";
                        grid-template-columns: 2px 21px 1fr;

                        padding-left: 35px;

                        cursor: pointer;

                        $guideline-bg: color.adjust(colors.$theme-inverted, $alpha: -0.95);
                        $guideline-protution: 6px;

                        margin-top: $guideline-protution;
                        margin-bottom: $guideline-protution;

                        &:first-child {
                            margin-top: $guideline-protution + 8px;
                        }

                        .menu-entry-guideline {
                            grid-area: guideline;

                            background-color: $guideline-bg;

                            margin-top: 0 - $guideline-protution;
                            margin-bottom: 0 - $guideline-protution;

                            position: relative;

                            &:before {
                                content: "";

                                position: absolute;
                                left: 0;
                                right: 0;
                                top: $guideline-protution;
                                bottom: $guideline-protution;

                                background-color: var(--menu-entry-guideline-before-bg, transparent);
                                @include background-color-transition();
                            }
                        }

                        .menu-entry-text {
                            grid-area: text;

                            align-self: center;
                            justify-self: start;

                            letter-spacing: 0.4px;
                        }

                        &:hover,
                        &:focus-visible {
                            background-color: $guideline-bg;

                            .menu-entry-guideline {
                                --menu-entry-guideline-before-bg: #{color.adjust($guideline-bg, $alpha: +0.25)};
                            }
                        }

                        &:focus-visible {
                            outline: none;
                        }

                        &.active {
                            font-weight: typography.$font-weight-regular;

                            .menu-entry-guideline {
                                --menu-entry-guideline-before-bg: #{colors.$accent};
                            }
                        }
                    }
                }
            }
        }
    }

    $accordion-overflow-color: rgba(54, 54, 54);

    ::deep .accordion-overflow {
        padding: 0px 24px;

        .overflow-area {
            background: linear-gradient(to bottom, color.change($accordion-overflow-color, $alpha: 0), $accordion-overflow-color);
        }
    }
}
