@use "design/colors";
@use "../../../shared/styles/colors-staged";
@use "../../../shared/styles/typography";
@use "../../Blazor.Shared/Styles/typography/fonts/noto-sans/variables" as noto-sans;
@use 'sass:color';

.login-layout-main-content, .login-layout-main-body {
    height: 100%;
    font-family: #{noto-sans.$font-family};
}

.background-test {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-url);
    background-size: cover;
    background-position: center;

    .interaction-center {
        width: 1040px;
        min-height: 400px;
        display: grid;
        grid-template-columns: 480px 560px;
        border-radius: 3px 0 0 3px;
        box-shadow: 0px 3px 5px color.adjust(colors.$theme, $alpha: -0.4);

        &:has(.description) {
            .right-side {
                grid-template-rows: min-content min-content auto;
                align-content: center;
            }
        }

        .left-side {
            display: grid;
            grid-template-rows: min-content min-content auto;
            background: #343434;
            padding: 64px 80px 0px 80px;
            width: 100%;
            height: 100%;
            font-size: 12px;
            color: colors.$font-light;
            letter-spacing: 0.4px;
            font-weight: typography.$font-weight-extralight;

            .heading {
                font-size: 24px;
                letter-spacing: 0.2px;
                text-align: left;
                margin-bottom: 24px;
                max-width: 320px;
                height: min-content;

                .description {
                    margin-top: 8px;
                    font-size: 12px;
                    letter-spacing: 0.4px;
                    font-weight: typography.$font-weight-extralight;
                }
            }

            .validation-summary-valid {
                display: none;
            }

            .blazor-disconnect-info {
                color: colors-staged.$color-orange;
                display: none;
            }

            .text-input {
                width: 320px;
                height: 32px;
                background: color.adjust(colors.$font-light, $alpha: -0.95);
                border: 1px solid color.adjust(colors.$font-light, $alpha: -0.8);
                border-radius: 3px;
                position: relative;
                font-size: 11px;
                color: color.adjust(colors.$font-light, $alpha: -0.2);
                letter-spacing: 0.2px;
                font-weight: typography.$font-weight-extralight;
                padding: 7px 8px 9px;
                border-radius: 3px;

                &:-webkit-autofill,
                &:-webkit-autofill:focus {
                    transition: background-color 0s 600000s, color 0s 600000s !important;
                }

                &::placeholder {
                    color: color.adjust(colors.$font-light, $alpha: -0.2);
                }

                &:focus {
                    outline: 1px solid colors-staged.$color-ifm-orange;
                    color: colors.$font-light;
                }

                &:hover:not(:focus) {
                    outline: 1px solid #BCBCBC;
                    color: colors.$font;
                }

                &[readonly] {
                    background: color.adjust(colors.$font-light, $alpha: -0.98);
                    border: 1px solid color.adjust(colors.$font-light, $alpha: -0.9);
                    cursor: default;
                    color: color.adjust(colors.$font-light, $alpha: -0.7);

                    &:focus {
                        outline: none;
                        color: color.adjust(colors.$font-light, $alpha: -0.7);
                    }

                    &:hover:not(:focus) {
                        outline: none;
                        color: color.adjust(colors.$font-light, $alpha: -0.7);
                    }
                }
            }

            .password {
                margin-top: 16px;
            }

            .last {
                margin-bottom: 16px;
            }

            .remember-forgot-section {
                display: flex;
                justify-content: space-between;
                width: 100%;
                user-select: none;
            }

            .forgot-password {
                flex: 1;
                text-align: end;

                a {
                    color: colors.$font-light;
                    letter-spacing: 0.4px;
                    text-decoration: none;

                    &:focus {
                        color: colors.$font-light;
                        border-bottom: 1px solid colors-staged.$color-ifm-orange;
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }
            }

            .forgot-password-button-section {
                .action-button {
                    margin-top: 24px;
                    margin-bottom: 48px;
                }

                .navigation-field {
                    a {
                        color: colors.$font-light;
                        letter-spacing: 0.4px;
                        text-decoration: none;

                        label {
                            margin-left: 8px;
                            cursor: pointer;
                        }

                        &:focus {
                            color: colors.$font-light;
                            border-bottom: 1px solid colors-staged.$color-ifm-orange;
                        }

                        &:focus-visible {
                            outline: none;
                        }
                    }
                }
            }

            .remember-me {
                position: relative;
                user-select: none;
                width: max-content;
                margin-bottom: 24px;
                height: 17px;
                flex: 1;

                input {
                    margin-top: 0px;
                    margin-right: 8px;
                    width: 16px;
                    height: 16px;
                    border-color: #D7D7D7;

                    &:checked {
                        background-color: colors-staged.$color-ifm-orange;
                        border-color: colors-staged.$color-ifm-orange;
                    }

                    &:focus {
                        border-color: colors-staged.$color-ifm-orange;
                        box-shadow: none;
                    }
                }

                input:focus + .text {
                    border-bottom: 1px solid colors-staged.$color-ifm-orange;
                }
            }

            .button-section {
                display: flex;
                width: 320px;

                &.reverse {
                    flex-direction: row-reverse;
                }

                .cancel {
                    width: fit-content !important;
                    margin-right: 26px;
                }
            }

            .action-button {
                font-size: 14px;
                color: colors.$font-light;
                letter-spacing: 0.2px;
                font-weight: typography.$font-weight-regular;
                border-radius: 4px;
                text-align: center;
                width: 320px;
                line-height: 19px;
                padding: 6px 16px 7px 16px;
                background: colors-staged.$color-ifm-orange;

                &:disabled {
                    color: color.adjust(colors.$font-light, $alpha: -0.7) !important;
                    background: color.adjust(colors.$theme, $alpha: -0.8) !important;
                    outline: 1px solid color.adjust(colors.$font-light, $alpha: -0.9) !important;
                }

                &.default {
                    background: #222222;
                }

                &:hover {
                    background: #2A2A2A;
                }

                &:active {
                    &:focus {
                        background: #444444;
                        outline: none;
                    }
                }

                &:focus {
                    background: color.adjust(colors.$theme, $alpha: -0.8);
                    outline: 1px solid colors-staged.$color-ifm-orange;
                }
            }

            .spacer {
                min-height: 24px;
            }
        }

        .right-side {
            background: #222222;
            display: grid;
            grid-template-rows: 170px 139px 91px;
            justify-items: center;
            user-select: none;

            .moneo-connect,
            .instance-title {
                margin-top: 72px;
                margin-bottom: 67px;
                font-size: 36px;
                display: flex;
                align-items: center;
                font-weight: typography.$font-weight-light;
                color: colors.$font-light;
                letter-spacing: 0.3px;
                text-align: center;

                .moneo {
                    font-weight: typography.$font-weight-light;
                    font-style: italic;
                }

                .seperator {
                    font-weight: typography.$font-weight-light;
                    margin: 0px 4px;
                }
            }

            .logo {
                margin-bottom: 56px;
            }

            .version-information {
                margin-bottom: 42px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 14px;
                color: colors.$font-light;
                font-weight: typography.$font-weight-extralight;
                letter-spacing: 0.2px;
                line-height: 23px;

                .version-number {
                    overflow: clip;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 350px;
                }
            }
        }
    }
}
