@use "../Styles/design/colors";
@use "../../../shared/styles/colors-staged";
@use "../../../shared/styles/variables";

.logging-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .logging-log {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: colors-staged.$color-background-dark;
        /* for Firefox */
        min-height: 0;

        .logging-text {
            color: colors.$color-font;
            flex-grow: 1;
            overflow: auto;
            padding: variables.$content-padding;
            white-space: pre-wrap;
            word-break: break-word;
            /* for Firefox */
            min-height: 0;
        }
    }

    .logging-toolbar {
        padding: variables.$toolbar-padding;
        border-bottom: 1px solid colors.$color-border;

        ::deep .loglevel-cbo {
            width: 120px;
        }

        ::deep .logpath-cbo {
            width: 300px;
        }

        ::deep .footprint-interval-item {
            width: 80px;
        }
    }
}
