@use "../Styles/design/colors";
@use "../../../shared/styles/colors-staged";
@use "../../../shared/styles/typography";

.jit-chat-content {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.jit-chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.jit-chat-timestamp {
    align-self: center;

    > p {
        font-size: 12px;
        font-weight: typography.$font-weight-light;
        margin: 0 3px;
    }
}

.jit-chat-message {
    border-width: 1px;
    border-radius: 11px;
    background-color: colors-staged.$color-background-modal;
    max-width: 80%;
    padding: 1.6px;
    margin: 8px;
    align-self: flex-end;

    > p {
        padding-left: 8px;
        padding-right: 8px;
        font-size: 14px;
        font-weight: typography.$font-weight-medium;
    }
}

.jit-chat-my-message {
    background-color: colors.$background-darker;
    align-self: flex-start;
}

.jit-chat-message-info > p {
    font-size: 12px;
    font-weight: typography.$font-weight-light;
    margin: 0 3px;
}

.jit-chat-input {
    display: grid;
    grid-template-areas:
        "input send";
    grid-template-columns: auto min-content;
    gap: 3px;

    padding: 16px 8px 8px;
}
