@use "variables";
@use "../../../../../../node_modules/@fontsource-utils/scss/src/mixins" as font-source-utils;
@use "../../../../../../node_modules/@fontsource/roboto/scss/metadata" as roboto;

// https://github.com/fontsource/fontsource/blob/main/packages/scss/README.md
@include font-source-utils.faces(
  $metadata: roboto.$metadata,
  $subsets: latin,
  $weights: variables.$font-weight-regular,
  $directory: "#{variables.$font-directory-base}/roboto"
);
