@use "../../Popup/Styles/content-overlay";

.wizard-page-container {
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;

    &.blur {
         @include content-overlay.blur-effect();
    }

    .content-preliminary-spacing {
        flex-basis: 48px;
    }

    $page-padding-horizontal: 32px;

    ::deep .page-scroll-container {
        .popup-scroll-container__content {
            padding-left: $page-padding-horizontal;
            padding-right: $page-padding-horizontal;
        }
    }

    ::deep .page-overflow {
        padding-left: $page-padding-horizontal;
        padding-right: $page-padding-horizontal;
    }
}
