.installed-modules-control-panel-page, .available-modules-control-panel-page {
    display: contents;

    ::deep .installed-modules-grid, ::deep .available-modules-grid {
        .status-wrapper {
            display: flex;
            gap: 8px;

            .icon-wrapper {
                display: flex;
                gap: 8px;
                align-items: center;
            }
        }
    }
}
