@use "../../../../../../shared/styles/colors-staged";
@use 'sass:color';

.password {
    margin-top: 16px;
    margin-bottom: 16px;
}

.button-section {
    display: flex;
    width: 320px;

    ::deep .default {
        width: fit-content !important;
        margin-right: 26px;
    }
}
