@use "../../../../../../shared/styles/colors-staged";
@use 'sass:color';

.password {
    margin-top: 16px;
    margin-bottom: 16px;
}

.remember-forgot-section {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 50% 50%;
    user-select: none;
    height: 17px;

    button {
        padding: 0px;
    }

    div {
        position: relative;

        ::deep .navigation-field {
            display: flex;
            position: absolute;
            right: 0px;
        }

        .remember-me {
            display: flex;
            position: relative;
            cursor: pointer;
            user-select: none;
            width: max-content;

            --vo-ui-bc-color-accent: #{colors-staged.$color-ifm-orange};
            --vo-ui-bc-color-accent-hover: #{colors-staged.$color-ifm-orange};
            --vo-ui-bc-check-box-color-accent-focus: #{color.adjust(colors-staged.$color-ifm-orange, $lightness: -10%)};
            --vo-ui-bc-check-box-color-accent-hover: #{color.adjust(colors-staged.$color-ifm-orange, $lightness: -10%)};

            .text {
                margin-left: 8px;

                &:focus-within {
                        border-bottom: 1px solid colors-staged.$color-ifm-orange;
                }
            }
        }
    }
}

.button-section {
    ::deep .navigation-field {
        margin-top: 32px;

        label:nth-child(3) {
            padding-left: 4px;
        }
    }
}
