.password {
    margin-top: 16px;
}

.button-section {
    display: flex;
    margin-top: 24px;
    margin-bottom: 33px;
    width: 320px;

    .cancel {
        ::deep button {
            width: fit-content !important;
            margin-right: 26px;
        }
    }
}
