.building-layout, .account-layout {
    width: 100%;
    height: 100%;

    .password {
        margin-top: 16px;
    }
}

.building-layout {
    .button-section {
        display: flex;
        margin-top: 16px;
    }
}

.account-layout {
    .button-section {
        display: flex;
        margin-top: 16px;
        width: 320px;
    }
}
