@use "../Styles/design/colors";
@use "../../../shared/styles/colors-staged";
@use "../../../shared/styles/typography";
@use 'sass:color';

.account-button {
    background: #222222;
    border-radius: 4px;
    font-size: 14px;
    color: colors.$color-font-light;
    letter-spacing: 0.2px;
    text-align: center;
    font-weight: typography.$font-weight-regular;
    width: 320px;
    line-height: 19px;
    padding: 6px 16px 7px 16px;

    &:disabled {
        color: color.adjust(colors.$color-font-light, $alpha: -0.7) !important;
        background: color.adjust(colors.$color-theme, $alpha: -0.8) !important;
        outline: 1px solid color.adjust(colors.$color-font-light, $alpha: -0.9) !important;
    }

    &.active {
        background: colors-staged.$color-ifm-orange;
    }

    &:hover {
        background: #2A2A2A;
    }

    &:active {
        &:focus {
            background: #444444;
            outline: none;
        }
    }

    &:focus {
        background: color.adjust(colors.$color-theme, $alpha: -0.8);
        outline: 1px solid colors-staged.$color-ifm-orange;
    }
}
