.change-password {
    &.building {
        .button-section {
            ::deep .outline:first-of-type {
                width: fit-content !important;
                margin-right: 24px;
            }
        }
    }

    &.account {
        .password {
            margin-bottom: 16px;
        }

        .button-section {
            display: flex;
            width: 320px;

            ::deep .default {
                width: fit-content !important;
                margin-right: 26px;
            }
        }
    }

    .password {
        margin-top: 16px;
    }

    .button-section {
        display: flex;
        width: 240px;
        margin-top: 16px;
    }
}
