@use "../../../shared/styles/colors-staged";

.navigation-field {
    display: flex;
    height: 17px;
    padding: 0px;
    align-items: stretch;
    width: max-content;
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    ::deep img {
        width: 16px;
        height: 16px;
    }

    ::deep label {
        margin-left: 8px;
        cursor: pointer;
        user-select: none;
    }

    &:focus-within, &:hover {
        border-bottom: 1px solid colors-staged.$color-ifm-orange;
    }

    &:focus-visible {
        outline: none;
    }
}
