@use "../Styles/design/colors";

@use 'sass:color';

.navigation-field {
    display: flex;
    height: 17px;
    padding: 0px;
    align-items: stretch;
    width: max-content;
    cursor: pointer;
    text-decoration: none;
    color: color.change(colors.$font-light, $alpha: 0.8);

    ::deep img {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }

    ::deep .monochrome-icon {
        margin-right: 8px;
    }

    ::deep label {
        cursor: pointer;
        user-select: none;
    }

    &:focus-within, &:hover {
        color: colors.$font-light;
    }

    &:focus-visible {
        outline: none;
    }
}
