.reset-password {
    &.account {
        .button-section {
            width: 320px;
        }
    }

    .password {
        margin-top: 16px;
    }

    .button-section {
        display: flex;
        margin-top: 16px;
    }
}
