@use "../Styles/design/colors";
@use "../../../shared/styles/colors-staged";
@use "../../../shared/styles/typography";
@use 'sass:color';

.input-field {
    --vo-ui-bc-color-accent: #{colors-staged.$color-ifm-orange};
    --vo-ui-bc-color-accent-hover: #{color.adjust(colors.$font-light, $alpha: -0.2)};
    --vo-ui-bc-text-box-background-color: #{color.adjust(colors.$font-light, $alpha: -0.95)};
    --vo-ui-bc-text-box-color: #{color.adjust(colors.$font-light, $alpha: -0.2)};

    width: 320px;
    height: 32px;
    border: 1px solid color.adjust(colors.$font-light, $alpha: -0.8);
    border-radius: 3px;
    position: relative;

    &:has(input.invalid):not(:focus-within) {
        ::deep input {
            color: colors.$font-light;
            background: var(--vo-ui-bc-text-box-background-color);
            outline: 1px solid colors.$error;

            &::placeholder {
                color: colors.$font-light;
            }
        }

        .validation-image {
            display: revert;
        }
    }

    ::deep input {
        border: none;
        border-radius: inherit;
        width: 100%;
        height: 100%;
        font-size: 11px;
        letter-spacing: 0.2px;
        font-weight: typography.$font-weight-light;
        padding: 7px 8px 9px;
        border-radius: 3px;

        &:-webkit-autofill,
        &:-webkit-autofill:focus {
            transition: background-color 0s 600000s, color 0s 600000s !important;
        }

        &::placeholder {
            color: var(--vo-ui-bc-text-box-color);
        }

        &:focus {
            outline: 1px solid var(--vo-ui-bc-color-accent);
            color: colors.$font-light;
        }

        &:hover:not(:focus):not([disabled]) {
            outline: 1px solid;
            color: var(--vo-ui-bc-color-accent-hover);
        }
    }

    .validation-image {
        position: absolute;
        top: 2px;
        right: 6px;
        width: 24px;
        height: 24px;
        display: none;

        img {
            width: inherit;
            height: inherit;
        }

        &:hover {
            .tooltip-info {
                display: flex;
            }
        }

        .tooltip-info {
            display: none;
            justify-content: center;
            position: relative;
            z-index: 102;

            .tooltip-info-tab {
                position: absolute;
                width: max-content;
                padding: 5px;
                box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, .6);
                background: #222222;
                border-radius: 3px;
                top: 4px;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    margin-left: -6px;
                    border-width: 6px;
                    border-style: solid;
                    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #222222;
                }
            }
        }
    }
}
