@use "../../Styles/design/colors";
@use "../../Styles/design/tooltip";
@use "../../../../shared/styles/colors-staged";

.systeminfo-monitor-diagramm {
    /*margin-top: 24px; Should be uncommented when tab view is added */
    margin-bottom: 16px;
    width: 252px;
    position: relative;

    canvas {
        display: block;
        margin: 0 auto;
        background: colors-staged.$color-content-dark;
    }

    #tooltip {
        position: absolute;

        box-shadow: tooltip.$box-shadow;

        background-color: tooltip.$background-color;
        color: tooltip.$content-text-color;

        font-size: tooltip.$font-size;
        font-weight: tooltip.$font-weight;
        letter-spacing: tooltip.$letter-spacing;
        line-height: tooltip.$line-height;

        border-radius: tooltip.$border-radius;

        padding: 5px;
        display: none;
        z-index: 102;
        box-sizing: border-box;
    }

    #tooltip .tooltip-header {
        color: tooltip.$header-text-color;
        font-weight: bold;
        text-align: center;
        margin-bottom: 4px;
    }

    #tooltip .tooltip-pointer {
        position: absolute;
        top: -5px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid tooltip.$background-color;
    }

    #tooltip .tooltip-table {
        width: 100%;
        border-collapse: collapse;
    }

    #tooltip .tooltip-table td {
        padding: 0;
        margin: 0;
    }

    #tooltip .tooltip-table .label {
        text-align: left;
    }

    #tooltip .tooltip-table .value {
        text-align: right;
    }
}
