@use "../../Styles/design/colors";
@use "../../../../shared/styles/colors-staged";

.systeminfo-monitor-diagramm {
    /*margin-top: 24px; Should be uncommented when tab view is added */
    margin-bottom: 16px;
    width: 252px;
    position: relative;

    canvas {
        display: block;
        margin: 0 auto;
        background: colors-staged.$color-content-dark;
    }

    #tooltip {
        position: absolute;
        background-color: #333333;
        color: colors.$font-light;
        font-size: 10px;
        letter-spacing: 0.06em;
        padding: 5px;
        border-radius: 4px;
        display: none;
        z-index: 102;
        box-sizing: border-box;
    }

    #tooltip .tooltip-header {
        font-weight: bold;
        text-align: center;
        margin-bottom: 4px;
    }

    #tooltip .tooltip-pointer {
        position: absolute;
        top: -5px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #333333;
    }

    #tooltip .tooltip-table {
        width: 100%;
        border-collapse: collapse;
    }

    #tooltip .tooltip-table td {
        padding: 0;
        margin: 0;
    }

    #tooltip .tooltip-table .label {
        text-align: left;
    }

    #tooltip .tooltip-table .value {
        text-align: right;
    }
}
