@use "../Styles/buttons/mixins" as buttons;
@use "../Styles/design/colors";
@use "../../../shared/styles/typography.scss";

button {
    @include buttons.lucent-styling();

    height: 17px;

    font-weight: typography.$font-weight-light;
    color: colors.$font;
    font-size: 12px;
    letter-spacing: .4px;

    ::deep .icon {
        color: colors.$accent;

        margin-right: 8px;
    }

    &:hover {
        color: colors.$font-light;
    }
}
