@use "../../../shared/styles/variables";

.mqtt-text-filter, .mqtt-node-filter {
    display: grid;
    grid-template-rows: 35px 35px auto;
    width: 400px;
    padding: variables.$content-padding;
    height: 100%;

    .text-and-button {
        display: grid;
        grid-template-columns: 1fr auto;
        justify-content: center;
        align-content: start;
        gap: 5px;
    }
}
